:root {
  --ff-playfair: 'Playfair Display', serif;
  --ff-roboto: 'Roboto', sans-serif;

  --bg-home: hsl(258, 86%, 34%);
  --bg-skills: hsl(263, 87%, 35%);
  --text-primary: hsl(0, 0%, 89%);
  --accent-color: hsl(40, 97%, 64%);

  --width-min: min(100% - 2rem, 1200px);
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* ========== Home ========== */

#home {
  background-color: var(--bg-home);
}

.home-container {
  width: var(--width-min);
  min-height: 100dvh;
  margin-inline: auto;
  font-family: var(--ff-playfair);
}

/* ========== Header ========== */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 1rem;
}

header .logo {
  display: flex;
  flex-direction: column;
  color: var(--text-primary);
  font-size: 1.2rem;
  font-weight: 600;
  border: 2px solid var(--text-primary);
  padding: 0.5rem 1rem;
  position: relative;
}

header .logo::after {
  content: '.';
  position: absolute;
  bottom: -13px;
  right: -15px;
  font-size: 2rem;
}

/* ========== Nav ========== */
.nav-list {
  display: flex;
  gap: 2rem;
}

.nav-item {
  list-style: none;
}

.nav-item {
  position: relative;
}

.nav-item a {
  text-decoration: none;
  color: var(--text-primary);
  font-size: 1rem;
  font-weight: 500;
  position: relative;
}

.nav-item a::after {
  content: '';
  position: absolute;
  height: 3px;
  width: 0;
  background-color: var(--text-primary);
  left: 0;
  bottom: -8px;
  transition: width 200ms ease-in-out;
}

.nav-item a:hover::after {
  width: 100%;
}

/* ========== main ========== */
main {
  max-width: 600px;
  margin-inline: auto;
  margin-top: 5rem;
  color: var(--text-primary);
}

main .greeting {
  font-size: 5rem;
}

main .about-me {
  font-weight: 400;
  font-size: 1.4rem;
}

/* ========== skills ========== */
#skills {
  background-color: var(--bg-skills);
  width: 100%;
  min-height: 100dvh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.skills-container {
  width: var(--width-min);
  margin-inline: auto;
  font-family: var(--ff-playfair);
}

.skills-title {
  color: var(--text-primary);
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
}

.technology-logos {
  max-width: 500px;
  margin-inline: auto;
  margin-top: 3rem;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.technology-logos img {
  width: 100px;
}

/* ========== projects ========== */
#projects {
  background-color: var(--bg-home);
  color: var(--text-primary);
  width: 100%;
  min-height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--ff-playfair);
}

.projects-container {
  width: var(--width-min);
  margin-inline: auto;
}

.projects-title {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 3rem;
}

.projects-all {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.project-card {
  width: 300px;
  height: 150px;
  background-color: transparent;
  color: var(--text-primary);
  border: 2px solid var(--text-primary);
  border-radius: 0.5rem;
  text-align: center;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.project-name {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.project-lists {
  display: flex;
  gap: 1rem;
  padding: 0;
}

.project-lists li {
  list-style: none;
}

.project-lists li a {
  text-decoration: none;
  color: var(--accent-color);
  font-weight: 600;
  position: relative;
}

.project-lists li a::after {
  content: '';
  position: absolute;
  background-color: var(--accent-color);
  border-radius: 5px;
  width: 0;
  height: 2px;
  left: 0;
  bottom: -5px;
  transition: width 250ms ease-in-out;
}

.project-lists li a:hover::after {
  width: 100%;
}
